rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      function isSignedIn() {
        return request.auth != null;
      }

      function isOwner(userId) {
        return request.auth.uid == userId;
      }

      function isExistingOwner(userId) {
        return isOwner(userId) && resource != null;
      }

      allow get: if isSignedIn() && isOwner(userId);
      allow list: if false;
      allow create: if isSignedIn() && isOwner(userId);
      allow update: if isSignedIn() && isExistingOwner(userId);
      allow delete: if isSignedIn() && isExistingOwner(userId);
    }


    match /kpi/{kpiId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }


    match /announcements/{announcementId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }


    match /productionStatus/{statusId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }


    match /paymentRequests/{requestId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }


    match /budgets/{budgetId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }


    match /leaveRequests/{requestId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }


    match /userPermissions/{userId} {
      function isSignedIn() {
        return request.auth != null;
      }

      function isOwner(userId) {
        return request.auth.uid == userId;
      }

      function isExistingOwner(userId) {
        return isOwner(userId) && resource != null;
      }

      allow get: if isSignedIn() && isOwner(userId);
      allow list: if false;
      allow create: if isSignedIn() && isOwner(userId);
      allow update: if isSignedIn() && isExistingOwner(userId);
      allow delete: if isSignedIn() && isExistingOwner(userId);
    }


    match /helpdeskTickets/{ticketId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }


    match /inventory/{itemId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }


    match /purchaseRequestsSC/{prId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }


    match /shipments/{shipmentId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }


    match /assets/{assetId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }


    match /maintenanceTasks/{taskId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }

    match /produksi/{produksiId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }

    match /geologi/{geologiId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }

    match /pengolahan/{pengolahanId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }

    match /k3l/{k3lId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }

    match /keuangan/{keuanganId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }

    match /sdm/{sdmId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }

    match /it/{itId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }
  }
}